@extend 'cloud-ui.vusion/src/components/u-tabs.vue/module.css';

.root {}

.head {
    height: 42px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 50px;
    margin-right: -20px;
    margin-left: -20px;
    padding: 0 20px;
}

.item {
    height: 39px;
    line-height: 39px;
    padding: 0 28px;
    border-radius: 2px 2px 0 0;
    margin-right: 5px;
    color: #a7afbb;
}

.item[selected] {
    color: inherit;
    border-top: 2px solid var(--brand-primary);
}

.body {
    margin: 0;
}

.root + p > article > h2:first-of-type {
    margin-top: 20px;
}
