@extend 'proto-ui.vusion/src/components/u-tabs.vue/module.css';

.root {}

.head {
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
    margin-right: -20px;
    margin-left: -20px;
    padding: 0 20px;
}

.item {
    height: 37px;
    line-height: 37px;
    padding: 0 28px;
    border-radius: 2px 2px 0 0;
    margin-right: 5px;
    color: #a7afbb;
}

.item[selected] {
    color: inherit;
    border-top: 2px solid $brand-primary;
}

.body {
    margin: 0;
}

.root + p > article > h2:first-of-type {
    margin-top: 20px;
}
