
/**
 * 1. Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
 * 2. Change the default font family in all browsers.
 */

html,body {
    margin: 0;
}

html {
    box-sizing: border-box; /* 1 */
    font-family: sans-serif; /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit; /* 1 */
}

/**
 * Black List
 * =============================================
 */

/* body {
    margin: 0;
} */

dl, dt, dd, ul, ol, li {
    margin: 0;
    padding: 0;
}

ol, ul, li {
    list-style: none;
}

table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/**
 * White List
 * =============================================
 */

/*
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,figure,caption,thead,tbody,th,td
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details
*/

body {
    color: $color-base;
    font: 14px/1.6 $font-family-zh-CN;
    -webkit-font-smoothing: antialiased;
}

h6 {
    margin: 1em 0;
}

hr {
    border: none;
    border-top: 1px solid $border-color-base;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 8px 16px;
    border-left: 4px solid $border-color-base;
}

ul, ol {
    padding-left: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

pre {
    tab-size: 4;
    /* Contain overflow in all browsers. */
    overflow: auto;
    background: $background-color-light;
    border-radius: $border-radius-base;
    padding: 5px 10px;
    font-size: 12px;
    font-family: $font-family-code;
}

code {
    padding: 0 3px;
    font-size: 12px;
    font-family: $font-family-code;
    background: $background-color-light;
    color: #e0276e;
}

pre code {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
    /* white-space: pre-wrap; */
}
